<agm-map [latitude]="lat" [longitude]="lng" [zoom]="14">
    <agm-marker [latitude]="marker.latitude" 
                [longitude]="marker.longitude" 
                [iconUrl]="icon"                 
                (markerClick)="onMouseOver(infoWindow, $event)" 
                *ngFor="let marker of markers; let i=index">
      <agm-info-window [disableAutoPan]="false" [maxWidth]="400" #infoWindow>
        <div>
            <h2>TITLE</h2>
            <br>
            {{marker.description}}
            <br>
            <br>
            <img width="100%" src="{{marker.thumbnail}}" (click)="openNewWindow(marker.videoURL)" class="thumbnail">
            <p class="addedBy">Added by @User123 <span class="glyphicon glyphicon-user"></span></p>
            <!-- <iframe width="500" height="400" src="{{sanitize(marker.youtubeURL)}}"></iframe> -->
        </div>      
      </agm-info-window>
    </agm-marker>
</agm-map>