agm-map {
    height: 100%;
  }
.thumbnail:hover{
  cursor: pointer;
  border: 2px solid white;
}

.addedBy{
  color: lightgray;
}

.no-margin{
  margin: 0;
}

.no-padding-top{
  padding-top: 0;
}

.margin-row{
  margin-left: 1%;
  margin-right: 1%;
}

.test{
  border: 1px solid black;
}

.height-85{
  height: 85vh;
}

.margin-bottom-2{
  margin-bottom: 10%;
}