<br/>
<div id="wrapper">
    <div id="title">
        <div id="first">
            <img src="/assets/city.png" alt="logo" class="resize" width="50"/>
        </div>
        <div id="second">
            <h1>DesignAR</h1>
        </div>
    </div>
    
    <div id="buttons-wrapper">
        <div id="about">
            <a href="https://angularapp1234.azurewebsites.net/">About us</a>
        </div>
        <div id="contact">
            <a href="https://angularapp1234.azurewebsites.net/">Contact</a>
        </div>
        <div id="login">
            <a href="https://angularapp1234.azurewebsites.net/">Login</a>
        </div>
    </div>
</div>

<hr/>
<app-maps></app-maps>